@import "tailwindcss";



/* For Firefox */
[data-radix-scroll-area-viewport] {
  scrollbar-width: thin;
  scrollbar-color: #a3a3a3 #f3f4f6;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #a3a3a3 #f3f4f6;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  background: #f3f4f6;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 8px;
  border: 2px solid #f3f4f6;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #374151;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6;
}
.custom-scrollbar::-webkit-scrollbar-corner {
  background: #f3f4f6;
}

/* button,
button:hover,
[data-button],
[data-button]:hover {
  cursor: pointer;
} */

button {
  border: 1px solid #b3b3b3; /* Tailwind's gray-300 */
  cursor: pointer;
}
